---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";

/*Color*/
$primary-dark: #434B58;
$primary: #8D98AD;
$primary-light: lighten( $primary, 17% );
$primary-lighter: lighten( $primary, 28% );
$secondary: #DA7B25;
$secondary-dark: darken( $secondary, 10% );
$tertiary: #3E742A;
$tertiary-light: lighten( $tertiary, 60% );

/*Font*/
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;