---
layout: page
---
<script src="/js/controllers.js"></script>

<section id="documents" ng-app="arkakApp">
  <div class="docs-img">
      <img src="{{ site.dokuments.image }}">
  </div>
  <div class="container" ng-controller="InvestigationsCtrl">
    
      <div class="row">
        <div class="col-md-7">
          <h2>Documentos</h2>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar reportes" ng-model="searchInvestigations">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>

      <ul id="posts" class="list-unstyled">
          <li ng-repeat="investigation in investigations | filter:searchInvestigations">
            <h5 class="post-title"><a href="[[ investigation.url ]]">[[ investigation.title ]]</a></h5> 
            <p class="small">[[ format_date(investigation.date) ]]</p>
            [[ investigation.description ]]
            <p class="small text-right"><a href="[[ investigation.link ]]" target="_blank"><i class="fa fa-download"></i></a> [[ investigation.author ]]</p>
          </li>
      </ul>
    
  </div>
</section>