---
layout: default
---
{% if site.reports.size %}
<section id="monitor">
  <div class="container">
    <div class="row">
      {% assign cnt = 0 %}
      {% for report in site.reports %}
        {% if report.highlighted and report.quote and cnt < 1 %}
      <div class="col-md-6">
        <h3><i class="fa fa-quote-left"></i> {{ report.quote | strip_html | truncatewords:85}} <i class="fa fa-quote-right"></i></h3>
        <p class="small">{% if report.author %}{{ report.author }}{% endif %}, {{ report.published_at | date_to_string }}</p>
      </div>
      <div class="col-md-6">
        <div class="monitor-img">
        {% if report.main_image %}
          <img src="{{ report.main_image }}" class="img-responsive" alt="{{ report.quote | strip_html | truncatewords:85 }}">
        {% endif %}
        </div>
        <div class="text-right">
          <a href="/reports.html" class="btn btn-default">Ver todos los reportes</a>
          <a href="{{ site.baseurl }}{{ report.url }}" class="btn btn-primary">Ver reporte</a>
        </div>
      </div>
          {% capture cnt %}{{ cnt | plus:1 }}{% endcapture %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="section-arrow content">
  <a href="#report-map"><i class="fa fa-chevron-down fa-2x"></i></a>
</div>

<section id="report-map">
  {% include map.html %}
</section>
{% endif %}

{% if site.investigations.size %}
<div class="section-arrow">
  <a href="#doc-preview"><i class="fa fa-chevron-down fa-2x"></i></a>
</div>

<section id="doc-preview">
  <div class="container">
    <div class="text-width text-center">
        {% for post in site.investigations | limit: 1 %}
          {% if post.highlighted and post.published %}
                <h3>
                  <i class="fa fa-quote-left"></i> {{ post.quote | strip_html | truncatewords:85}} <i class="fa fa-quote-right"></i>
                </h3>
                <p class="small">
                  {% if post.author %}
                    {{ post.title }}{% endif %}, {% if post.author %}{{ post.author }}
                  {% endif %}
                </p>
          <div class="text-right">
            <a href="{{ site.baseurl }}/investigations.html" class="btn btn-default">Ver todos las investigaciones</a>
            <a href="{{ BASE_PATH }}{{ post.link }}" class="btn btn-primary">Descargar investigación</a>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if site.comunities.size %}
<div class="section-arrow">
  <a href="#about-us"><i class="fa fa-chevron-down fa-2x"></i></a>
</div>

<section id="about-us">
  <div class="container">
    <h2 class="text-center">Quiénes somos</h2>
    <h4 class="bajada text-width">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>

    {% include about-us.html %}
  </div>
</section>
{% endif %}

<!-- <div class="section-arrow">
  <a href="#stats"><i class="fa fa-chevron-down fa-2x"></i></a>
</div> -->


<!-- <section id="stats">
  <div class="container">
    <h2 class="text-center">Estadísticas</h2>
    <h4 class="bajada text-width">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
    <div class="row graphs ">
      <div class="col-md-9">
        <img src="{{ site.baseurl }}/img/graph01.png">
      </div>
      <div class="col-md-3">
        <img src="{{ site.baseurl }}/img/graph03.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <img src="{{ site.baseurl }}/img/graph02.png">
      </div>
      <div class="col-md-3">
        <img src="{{ site.baseurl }}/img/graph04.png">
      </div>
    </div>
  </div>
</section> -->
