---
layout: page
---
<script src="/js/controllers.js"></script>

<section id="reports" ng-app="arkakApp">
  <div id="map-reports" style="width:100%; height: 350px;"></div>

  <div class="container" ng-controller="ReportsCtrl">
    <div class="row">
      <div class="col-md-7">
        <h2>Reportes</h2>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar reportes" ng-model="searchDocs">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>

    <ul id="posts" class="list-unstyled">
      <li ng-repeat="report in reports | filter:searchDocs" ng-if="report.published">
        <h5 class="report-title"><a href="[[ report.permalink ]]">[[ report.title ]]</a></h5>
        <p class="small">[[ format_date(report.published_at) | date:"dd 'de' MMMM, yyyy" ]]</p>
        [[ report.description ]]
        <p class="small text-right">[[ report.author ]]</p>
      </li>
    </ul>

  </div>
</section>

<script>
L.mapbox.accessToken = '{{ site.mapbox.token }}';
var map = L.mapbox.map('map-reports', '{{ site.mapbox.map }}')
    .setView([ {{ site.reportes.lat }}, {{ site.reportes.lng }} ], {{ site.reportes.zoom }});

var featureLayer = L.mapbox.featureLayer()
    .loadURL('/data/reports/reports.geojson')
    .addTo(map);
</script>