<p>Desde el año 2011 el Instituto Internacional de Estudios Sociales de la Universidad Erasmus de Rotterdam (ISS/EUR)e HIVOS de Holanda, la Liga de Defensa del Medio Ambiente LIDEMA (Bolivia) y la Universidad San Francisco de Quito USFQ (Ecuador), a través del proyecto NEBE (Nacionalización de la Extracción en Bolivia y Ecuador) estudian los impactos, conflictos y cooperación que existen en torno a los recursos naturales en Bolivia y Ecuador. El proyecto cuenta con el apoyo de la Organización Holandesa de Investigación Científica - Programa de Investigación “Ciencia por el Desarrollo Global” (NWO/WOTRO) a través de un sub programa de conocimiento, investigación e innovación sobre el tema de Conflicto y Cooperación sobre Recursos Naturales en países en desarrollo [CoCooN por sus siglas en inglés). A partir del año 2014 se incorpora Perú en el proyecto y se amplían las áreas de investigación y acción.</p>


<div class="row">
  {% assign count = 0 %}
  {% for community in site.communities %}
    {% if community.published %}
      {% assign mod = count | modulo:3 %}
      {% if mod == 0 %}
        </div><div class="row">
      {% endif %}
  <div class="col-md-4">
    {% if community.website %}<a href="{{ community.website }}" target="_blank">{% endif %}
    {% if community.image %}<img class="img-responsive" src="{{ community.image }}"></img>{% endif %}
    {% if community.website %}</a>{% endif %}
    <div>
      <h4>{{ community.name }}</h4>
      <p>{{ community.description }}</p>
    </div>
  </div>
      {% assign count=count | plus:1 %}
    {% endif %}
  {% endfor %}
</div>
