<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- añadir logos y/o textos -->
      </div>
      <div class="col-md-4">
        <!-- añadir logos y/o textos -->
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled text-center">
          <li>
            <p>Sitio desarrollado por: </p>
            <img src="//ciudadanointeligente.org/img/logo-fci-201x61.png" alt="Fundación Ciudadano Inteligente">
          </li>
          <!--
          <li><a href="tel:+56224192770"><i class="fa fa-phone"></i> +56 2 2419 2770</a></li>
          <li><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto prensa</a></li>
          <li><a href="//bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
          -->
        </ul>
        <ul class="list-inline text-center">
          <li>
            <a href="//twitter.com/ciudadanoi/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="//www.facebook.com/ciudadanointeligente" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="//github.com/ciudadanointeligente/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github-alt fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="{{ site.baseurl }}/js/main.js"></script>