<footer class="site-footer">
  <div class="container">
  	<div class="row">
  		<div class="col-md-4">
  			<ul class="list-unstyled">
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  			</ul>
  		</div>
  		<div class="col-md-4">
  			<ul class="list-unstyled">
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  			</ul>
  		</div>
  		<div class="col-md-4">
  			<ul class="list-unstyled">
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
</footer>
<script src="{{ site.baseurl }}/js/main.js"></script>