<header id="header">

	<div id="menu" class="header-menu fixed">
		<div class="container">
			<div class="row">
				<nav role="navigation" class="col-sm-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!--== Logo ==-->
						<span class="navbar-brand logo">
							<h3>NEBE</h3>
						</span>

					</div>
					<div class="navbar-collapse collapse">

						<!--== Navigation Menu ==-->
						<ul class="nav navbar-nav">
							<li class="current"><a href="#header">Inicio</a></li>
							<li><a href="#subscribe">Suscríbete</a></li>
							<li><a href="#blog">Blog</a></li>
							<li><a href="#speakers">Temas</a></li>
							<li><a href="#news">Noticias</a></li>
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</div>

	<div class="header-cta">
		<div class="container">
			<div class="row">
				<div class="blk col-md-8 col-md-offset-2">
					<h1>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR.</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="header-bg">
		<div id="preloader">
			<div class="preloader"></div>
		</div>
		<div class="main-slider" id="main-slider">

			<!--== Main Slider ==-->
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/img/home01.jpg"/></li>
				<li><img src="{{ site.baseurl }}/img/home02.jpg"/></li>
				<!-- <li><img src="{{ site.baseurl }}/img/home03.jpg"/></li> -->
				<li><img src="{{ site.baseurl }}/img/home04.jpg"/></li>
			</ul>

		</div>
	</div>

</header>