html {
  position: relative;
  min-height: 100%;
}

body {
  font: 100% $roboto;
  color: $primary-dark;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-size: 14px
}

h1, h2, h3, h4, h5 {
  font-family: $raleway;
  font-weight: 700;
  text-transform: uppercase;
}

h4.bajada {
  color: $primary-light;
  text-align: center;
  padding-bottom: 25px;
}

a {
  color: $secondary;
}

a:focus, a:hover {
  color: $secondary-dark;
  text-decoration: none;
}

.small {
  color: $primary;
}

section .container {
  padding: 60px 0;
}

.text-width {
  max-width: 800px;
  margin: 0 auto;
}

article.post-content p {
  line-height: 20px;
}

.header-menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav > li > a {
  text-shadow: 1px 1px 1px #434B58;
}

.modal-backdrop {
  z-index: -1;
}

.blk {
  h1 {
    text-shadow: 1px 1px 1px #000;
  }
  p {
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
  }
}

/*Buttons*/

.btn {
  text-transform: uppercase;
  font-family: $raleway;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-default {
  color: $secondary;
  background-color: #fff;
  border: 2px solid $secondary;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: $secondary-dark;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: $secondary-dark;
}

.btn-primary {
  background-color: $secondary;
  border: 2px solid $secondary;
  color: #fff;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: $secondary-dark;
  border-color: $secondary-dark;
}

.fa-chevron-down {
  color: #fff;
  background: $secondary;
  padding: 16px;
  border-radius: 30px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.fa-chevron-down:hover {
  background: $secondary-dark;
}

.section-arrow {
  text-align: center;
  height: 0px;
  margin: -30px 0 30px;
}


/*Labels*/

.label-default {
  background-color: $tertiary;
}

/*Header*/

nav {
  color: #fff;
}

.navbar-brand h3 {
  margin: 0;
  text-shadow: 1px 1px 1px #BFC6D1;
}

.nav-bar {
  /*background-color: rgba( $third-color, .3 );*/
  background-color: $primary-light;
  a{
    color: rgba( #FFF, .5 );
      &:hover{
        text-decoration: none;
        font: 20px/24px serif;
            font-weight: bold;
      }
  }
}

.navbar-brand {
  padding: 12px 0px;
}

.navbar-nav {
  float: right;
}

.navbar-nav>li>a {
  color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: $secondary;
}

#header {
  position: relative;
  /*margin-bottom: 25px;*/
  overflow: hidden;
  color: $primary-lighter;
}

.header-panel {
  position: absolute;
  width: 100%;
  min-height: 100px;
  top: 0;
  margin-top: 50px;
  z-index: 55;
}

.header-menu {
  position: absolute;
    width: 100%;
    /*margin-top: 50px;*/
    padding: 0 15px;
    z-index: 55;
}

.header-menu.sticky {
  position: fixed;
  margin: 0;
  -moz-animation: bounceInDown 0.5s;
  -webkit-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s;
  background: $primary-light;
  background: $secondary;
  h3 a {
    color: #FFF;
  }
}

.header-menu.fixed {
  -moz-animation: bounceIn 0.5s;
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.header-menu > .box {
  min-height: 75px;
}

.header-bg {
  position: relative;
  height: 750px;
  overflow: hidden;
}

.header-bg:before {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 40;
  background: url(../img/bg.png) repeat;
}

#monitor {
  padding: 25px 0px;
}

.reports-map:before {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 40;
  background: url(../img/bg.png) repeat;
}

#menu .box {
  background-color: $primary-light;
}

.header-cta {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  z-index: 50;
  top: 180px;
  text-align: center;
  color: #FFF;
}

.header-bg {
  position: relative;
  height: 750px;
  overflow: hidden;
}

#preloader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #efefef;
  z-index: 45;
}

.preloader {
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: 46%;
  left: -webkit-calc(50% - 6px);
  left: calc(50% - 6px);
  border-radius: 12px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: preloader 1s ease-in-out infinite;
  animation: preloader 1s ease-in-out infinite;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#preloader.ready {
  display: none;
}

.main-slider .slides img {
  position: absolute;
  width: 100%;
  min-width: 1200px;
  left: 50%;
}

/*Content*/

.content {
  position: relative;
  padding: 0 15px;
  z-index: 50;
  background: #FFF;

  section {
    padding: 50px 0;
  }
}

.img-content {
  margin: 0px 10px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  p {
    padding-top: 5px;
    font-size: 10px;
    color: #BFC6D1;
  }
}

/*Monitor*/

.monitor-img {
  margin: -70px 0 -146px;
}

#monitor h3 {
  color: $tertiary;
}

/*Map*/

#map {
  position:absolute; top:100px; bottom:0; width:100%;
  z-index: 100;
}

/***/
#section-header {
  height: 350px;
  overflow: hidden;
  img {
    width: 100%;
    margin-top: -310px;
  }
}

#resources {
  #section-header {
    height: 350px;
    overflow: hidden;
    img {
      width: 100%;
      margin-top: -380px;
    }
  }
}

.category-news {
  max-width: 33%;
  padding-bottom: 15px;
  h4 {
    min-height: 100px;
  }
  .date-news {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .view-more-news {
    margin-top: 20px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    li {
      padding: 3px 0px;
      a {
        text-transform: uppercase;
        color: #434B58;
      }
    }
  }
}

#news li {
  padding-bottom: 15px;
}

.blogs-title{
  background-color: #EEE;
  color: #434B58;
  border-left: 5px solid #434B58;
  padding-bottom: initial;
  h4 {
    margin-left: 10px;
    padding-top: 10px;
    small {
      font-size: 60%;
    }
  }
}
/***/

/*Doc preview*/

#doc-preview h3 {
  color: $tertiary;
  margin-top: 80px;
}

#doc-preview .text-right {
  margin: 100px 0 10px;
}

#doc-preview {
  background: url(../img/documents.png) center no-repeat;
}

#doc-preview .container {
  border-bottom: 2px solid #e0e3e9;
}

/*About us*/

.us-text {
  /*position: absolute;*/
  bottom: 0px;
  left: 0;
  padding: 20px;
  background: rgba( $primary-dark, .4 );
  color: $primary-lighter;
  text-align: center;
  margin: 30px;
}

.us-text h4 {
  color: $secondary;
}

#about-us .col-md-4.col-sm-6 {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: -3px;
}

#about-us .container {
  padding-bottom: 150px;
}

/*Reports*/

input.form-control {
  height: 36px;
}

#documents .input-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

#reports .input-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

/*ul.posts {
  list-style: none;
  -webkit-padding-start: 0px;
}*/

#posts > ul > li {
  border-bottom: 2px solid $primary-light;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.reports-map {
  /*padding-top: 50px;*/
  margin-bottom: 40px;
  position: relative
}

section#reports {
  /*padding-top: 50px;*/
}

/*Documents*/

.docs-img img {
  width: 100%;
  margin-top: -310px;
}

.docs-img {
  height: 350px;
  overflow: hidden;
}

.inside-investigation {
  padding-top: 50px;
}

.investigation-content-menu a:hover {
  color: #FFF;
}

.embed-responsive.embed-responsive-16by9 {
  margin-bottom: 15px;
}

#posts li {
  padding-bottom: 5px;
}

/*Chronologies*/

.chrono {
  padding-top: 50px;
}

#chronologies .docs-img img {
  width: 100%;
  margin-top: -410px;
}

/*Graphs*/

section#stats {
  margin-bottom: 40px;
}

.graphs {
  margin: 70px 0;
}

.sticky-footer {
  width: auto;
  margin-bottom: 120px;
}

/* About us */
#about-us {
  margin-bottom: 45px;
}

/* Resources */
#resources {
  padding-bottom: 55px;
}

/*paginator*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  background-color: #DA7B25;
  border-color: #DA7B25;
}
.pagination > li > a, .pagination > li > a:hover {
  color: #DA7B25;
}

/*Footer*/

.site-footer {
  background: $primary-dark;
  color: $primary-light;
  padding: 15px 0;
  margin-top: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  a {
    color: #BFC6D1;
  }
}

@media (min-width: 758px) {
  .blk {
    p {
      font-size: 18px;
    }
  }

  p.small {
    font-size: 18px;
  }

  section .container {
    padding: 30px 0px;
  }
}