html, body {
	height: 100%;
}

body {
	font: 100% $roboto;
	color: $primary-dark;
	/*height: 20000px;*/
	-webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 14px
}

h1, h2, h3, h4, h5 {
	font-family: $raleway;
	font-weight: 700;
}

.small {
	color: $primary;
}


/*Header*/

.navbar-brand h3 {
	margin: 0;
}

.nav-bar {
	/*background-color: rgba( $third-color, .3 );*/
	background-color: $primary-light;
	a{
		color: rgba( #FFF, .5 );
			&:hover{
				text-decoration: none;
				font: 20px/24px serif;
				    font-weight: bold;
			}
	}
}

#header {
	position: relative;
	/*margin-bottom: -100px;*/
	overflow: hidden;
	color: $primary-lighter;
}

.header-panel {
	position: absolute;
	width: 100%;
	min-height: 100px;
	top: 0;
	margin-top: 50px;
	z-index: 55;
}

.header-menu {
	position: absolute;
    width: 100%;
    margin-top: 50px;
    padding: 0 15px;
    z-index: 55;
}

.header-menu.sticky {
	position: fixed;
	margin: 0;
	-moz-animation: bounceInDown 0.5s;
	-webkit-animation: bounceInDown 0.5s;
	animation: bounceInDown 0.5s;
	background: $primary-light;
}

.header-menu.fixed {
	-moz-animation: bounceIn 0.5s;
	-webkit-animation: bounceIn 0.5s;
	animation: bounceIn 0.5s;
}

.header-menu > .box {
	min-height: 75px;
}

.header-bg {
	position: relative;
	height: 750px;
	overflow: hidden;
}

.header-bg:before {
	top: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	z-index: 40;
}

#menu .box {
  background-color: $primary-light;
}

.header-cta {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  z-index: 50;
  bottom: 150px;
}

.header-bg {
  position: relative;
  height: 750px;
  overflow: hidden;
}

#preloader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #efefef;
  z-index: 45;
}

.preloader {
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: 46%;
  left: -webkit-calc(50% - 6px);
  left: calc(50% - 6px);
  border-radius: 12px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: preloader 1s ease-in-out infinite;
  animation: preloader 1s ease-in-out infinite;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#preloader.ready {
  display: none;
}

.main-slider .slides img {
  position: absolute;
  width: 100%;
  min-width: 1200px;
  left: 50%;
}

/*Content*/

.content {
	position: relative;
	padding: 0 15px;
	z-index: 50;
	background: #FFF;
	
	section {
		padding: 50px 0;
		width: 100%;
		height: 100%; 
	}
}

.monitor {
	blockquote {
		font-family: $raleway;
		font-weight: 700;
		footer {
			color: $primary;
			font-size: 85%;
		}
	}
}
