---
layout: page
---
<div class="container">
  <div class="reports-map">
    <img src="//api.tiles.mapbox.com/v4/jgarrido.m42eof6c/pin-m-water+000({{ page.mapbox-long }},{{ page.mapbox-lat }})/{{ page.mapbox-long }},{{ page.mapbox-lat }},{{ page.mapbox-zoom }}/1280x300.png?access_token=pk.eyJ1IjoiamdhcnJpZG8iLCJhIjoiOVhrQ2ZwMCJ9.eItLrt9DzG1YNCbNZ0hhDg" class="img-responsive">
  </div>

  <div class="post">
    <header class="post-header">
      <h3 class="post-title">{{ page.title }}</h3>
      <p class="small">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
      {{ content }}
    </article>

  </div>
</div>

